@model AdminGenreEditViewModel

<h1>Edit Genre</h1>
<hr />

<form asp-controller="admin" asp-action="genreupdate" method="post">
	<div class="row">
		<div class="col-md-3">
			<input type="hidden" name="GenreId" value="@Model.GenreId" />

			<div class="mb-3 form-floating">
				<input asp-for="Name" class="form-control" placeholder="Name" />
				<label asp-for="Name"></label>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>

		<div class="col-md-9">

			@for (int i = 0; i < Model.Songs.Count; i++) //dbden almadık get metodundan aldıgımız listeyi ilgili post üzerine gonderdik.
			{
				<input type="hidden" name="Songs[@i].SongId" value="@Model.Songs[i].SongId" />
				<input type="hidden" name="Songs[@i].Name" value="@Model.Songs[i].Name" />
				<input type="hidden" name="Songs[@i].ImageUrl" value="@Model.Songs[i].ImageUrl" />
				<input type="hidden" name="Songs[@i].ReleaseDate" value="@Model.Songs[i].ReleaseDate" />
			}

			<table class="table table-striped table-hover table-bordered border-dark">

				<thead>
					<tr>
						<th style="width:45px">Remove</th>
						<th style="width:30px">#</th>
						<th style="width:120px">Image</th>
						<th>Name</th>
						<th style="width:150px"></th>
					</tr>
				</thead>

				<tbody>
					@foreach (var song in Model.Songs)
					{
						<tr>
							<td>
								<input class="form-check-input" type="checkbox" name="songIds" value="@song.SongId" />
							</td>
							<td>@song.SongId</td>
							<td> <img src="~/img/@song.ImageUrl" width="100" /> </td>
							<td>@song.Name</td>
							<td>
								<a asp-controller="admin" asp-action="updatesong" asp-route-id="@song.SongId" class="btn btn-primary btn-sm">Update</a>
							</td>
						</tr>
					}
				</tbody>

			</table>

		</div>

	</div>
</form>