@model Song

<div class="col">
	<a asp-controller="Songs" asp-action="Details" asp-route-id="@Model.SongId" class="card-link">
		<div class="card">
			<img src="/img/@Model.ImageUrl" class="card-img-top" alt="@Model.SongName">
			<div class="card-body">
				<h5 class="card-title">@Model.SongName</h5>
				<div class="description">
					<p class="card-text">
						@{
							@if (Model.Description?.Length > 135) //? koymazsak nullable olarak isaretlemezsek description bilgisi girmedğimizde burası hata verir
							{
								Model.Description = Model.Description.Substring(0, 135) + "...";
							}
						}
						@Model.Description
					</p>
				</div>
			</div>
		</div>
	</a>
</div>
@* <div class="col">
	<div class="card mb-3">
		<div class="row">
			<div class="col-md-4">
				<img src="/img/@Model.ImageUrl" class="img-fluid" alt="@Model.Name">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">@Model.Name</h5>
					<p class="card-text">@Model.Description This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<a></a>
				</div>
			</div>
		</div>
	</div>
</div>  *@